<div>
	<div>
		<hr class="featurette-divider">
		<div class="featurette">
			<div class="pull-right"><img class="featurette-image " src="{{baseURL}}/static/style/img/usalight.jpg">
				<div class="caption">
					Photo courtesy of Bes Z/Flickr, Creative Commons license
				</div>
			</div>
			<a href="http://www.darksky.org/about-ida/faqs#6">Definition by International Dark SKy Association</a>
			<h2 class="featurette-heading">Light pollution <span class="muted">is any adverse effect of artificial light, including sky glow, glare, light trespass, light clutter, decreased visibility at night and energy waste. </span></h2>
			<p class="lead">
				Give us the details about the light pollution spot. Let the media follow up.
			</p>
		</div>
	</div>

	<div>
		<hr class="featurette-divider">
		<div class="featurette">
			<img class="featurette-image pull-left" src="{{baseURL}}/static/style/img/lightbulb.jpg">
			<h2 class="featurette-heading">Energy Waste <span class="muted">Your actions make the world a beter place.</span></h2>
			<p class="lead">
				Give us the details about the light pollution spot. Let the media follow up.
			</p>
		</div>
	</div>
	<div>
		<hr class="featurette-divider">
		<div class="featurette">
			<img class="featurette-image pull-right" src="{{baseURL}}/_db/c942093f68371eec17bb0d458e0c6344/attachment">
			<h2 class="featurette-heading">Impact on Astronomy<span class="muted">People don't believe they can see the Milky way in Hong Kong. Actually they can but not any more if light pollution is getting worse.</span></h2>
			<p class="lead">
				Give us the details about the light pollution spot. Let the media follow up.
			</p>
		</div>
	</div>

</div>