<!-- <div class="navbar navbar-inverse navbar-static-bottom"> -->
<!-- 	<div class="navbar-inner"> -->
<!-- 		<div class="container"> -->
<!-- 			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> -->
			<!-- 					<a class="brand" href="#">Light Pollution Map</a> -->
			<div id="footer">
				Site maintained by <a href="#">lauchunyin@gmail.com</a>
				Creative Commons
				Background Photo by <a href="http://thierrycohen.com/pages/work/starlights.html#">Thierry Cohen</a>

	</div>
