<div class="container">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner lightmap-navbar">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
				<a class="brand" href="#">{{t "app.name"}}</a>
				<div class="nav-collapse collapse">

					<ul class="nav">
						<li class="active">
							<a href="{{baseURL}}/">{{t "nav.home"}}</a>
						</li>
						<li>
							<a href="{{baseURL}}/about">{{t "nav.light_pollution"}}</a>
						</li>
						<li>
							<a href="{{baseURL}}/spots/add">{{t "nav.add"}}</a>
						</li>
						<li>
							<a href="">Facebook</a>
						</li>
						<li>
							<a href="?setLng=zh-TW">中文</a>
						</li>
						<li>
							<a href="?setLng=en-US">English</a>
						</li>
					</ul>
					<form id="search-form" class="navbar-search pull-right">
						<input id="search" type="text" class="search-query" placeholder={{t "nav.search"}}>
					</form>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div id="myCarousel" class="carousel slide">
			<!-- 	<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol> -->
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<img class="headerImage" src="{{baseURL}}/static/style/img/bg.jpg" alt>
					<div class="container">
						<div class="carousel-caption">
							<h1>{{t "header1.title"}}</h1>
							<p class="lead">
								{{t "header1.desc"}}
							</p><p></p>
							<a class="btn btn-large btn-primary" href="#">Sign up today</a>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="headerImage" src="{{baseURL}}/static/style/img/bg.jpg" alt>
					<div class="container">
						<div class="carousel-caption">
							<h1>{{t "header2.title"}}</h1>
							<p class="lead">
								{{t "header2.desc"}}
							</p>
							<a class="btn btn-large btn-primary" href="#">Sign up today</a>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="headerImage" src="{{baseURL}}/static/style/img/bg.jpg" alt>
					<div class="container">
						<div class="carousel-caption">
							<h1>熄燈，香港其實更光亮</h1>
							<p class="lead">

							</p>
							<a class="btn btn-large btn-primary" href="/lightpollution">了解光污染</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>
<div class="row"></div>
<!-- <div class="header">
<h1>Hong Kong Light Pollution Map</h1>
<p>
Here mark the light pollution spot in Hong Kong
</p>

<p>
Darkened Hong Kong is more bright
</p>
<p>
Help us by adding your light pollution spots
</p>

</div> -->
