<div class="container">
	<div class="row">
		<div class="span12">
			<div id="map_canvas" style="color:black" ></div>
		</div>
	</div>
	<div class="row">
		<h2 class="mark-statement">Found light pollution? <a class="btn btn-xlarge btn-primary" href="spots/add">Report here</a></h2>

	</div>
	<div class="row spots">
		<h3>List of light pollution spots </h3>
	</div>
	{{{include "paging.html"}}}
		{{#each rows}}
	{{#with value}}
	<!-- Used fix height, need to sync in css
	just happended to use nav-->
	<div class="row spots">
		<div class="span4 nav spot-image main">
			<div >
				<a href="{{baseURL}}/spots/{{_id}}/image" class="thumbnail"> <img data-src="{{baseURL}}/spots/{{_id}}/image" alt="image"></a>
			</div>
		</div>
		<div class="span8 nav main">
			<div class="row">
				<div class="span4 spot-details">
					<div class="row">
						<div class="span4">
							<h4>{{title}} <span class="label label-important">Serious</span> {{#if newTag}} <span class="label label-success">New</span> {{/if}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="span2">
							Location:
						</div>
						<div class="span2">
							{{locationDesc}}
						</div>
					</div>
					<div class="row">
						<div class="span2">
							Upload Date:
						</div>
						<div class="span2">
							{{upload_date}}
						</div>
					</div>
					<div class="row">
						<div class="span2">
							Uploader:
						</div>
						<div class="span2">
							{{uploader}}
						</div>
					</div>

					{{#if capture_date}}
					<div class="row">
						<div class="span2">
							Capture Time:
						</div>
						<div class="span2">
							{{capture_date}}
						</div>
					</div>
					{{/if}}
					<div class="row">
						<div class="span2">
							Description:
						</div>
						<div class="span2">
							{{description}}
						</div>
					</div>

				</div>
				<!-- 			potential to show map here as well -->
				<!-- 			<div class="span3">

				</div> -->
			</div>
		</div>
	</div>
	{{/with}}
	{{/each}}
	<div >
		{{{include "paging.html"}}}
	</div>

</div>

<div id="startkey" style="display:none;">
	{{startkey}}
</div>
<div id="next_startkey" style="display:none;">
	{{next_startkey}}
</div>
<!--
<script src="script/bootstrap.js"></script>
<script src="script/bootstrap.min.js"></script>
-->

<script type="text/javascript" charset="utf-8">
    //init only after thispage loaded
    $(document).ready(function() {
        var gmap = require('lib/gmap');
        gmap.initialize("map_canvas");
        gmap.setupHK();
        
        gmap.fetchAndMarkAllSpots();
        //UI control
        // $('.carousel').carousel()

        //should call after holder.js
        // var layout = require('lib/layout');
        // layout.equalHeight();

        $("#craeteSpotButton").click(function() {
            console.log("create");
        });
        //UI control

        function getURLParameter(name) {
            return decodeURI((RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]);
        }

        var startkey = $("#startkey").text().trim();
        var next_startkey = $("#next_startkey").text().trim();
        var prevkey = getURLParameter("prevkey");
        if(prevkey && prevkey !== 'null') {
            $("#prev").attr("href", $("#next").attr("href")+"?startkey=" + prevkey);
            $("#prev").show();
        }
        if(next_startkey) {
            $("#next").attr("href", $("#next").attr("href")+"?startkey=" + next_startkey + "&prevkey=" + startkey);
            $("#next").show();
        }
        
        
        // /spots/:slug/image

    })
</script>
