<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ title }}| Light Pollution Map</title>
</head>
<body>
<b>{{title}}</b>
<b>{{locationX}}</b>

<b>{{locationY}}</b>

<!-- <div class="span8">
// Main Part

</div>
<div class="span4">	
// Sidebar Part
</div>


</body> -->
<!-- 
	<script src="script/bootstrap.js"></script>
		    <script src="script/bootstrap.min.js"></script>
		 -->
		
</html>